@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(35, 35, 35);
}
.menuLateral {
  display: flex;
  width: 1366px;
  margin: auto;
}

.Apresentacao {
  width: 100%;
}
.corpo {
  padding: 10px;
  background-color: rgb(123, 121, 121);
  height: 100%;
}
